body {
  margin: 0;
  text-align: center;
  Font-family: 'Gentium Book Plus', serif;

}

h1 {
  color: #ffff00;
  font-size: 5.625rem;
  margin: 50px auto o auto;
  font-family: 'Bangers', cursive;
  letter-spacing: 5px;
  }

h2{
  color: #66BFBF;
  font-family: 'Sniglet', cursive;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3
 {
   color:  #11999E;
  font-family: 'Gentium Book Plus', serif;
}


hr {
  border-color: #EAD6F6;
  border-style: none;
   border-top-style: dotted;
   border-width: 5px;
   width: 5%;
  margin: 100px auto;
}

p {
line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Gentium Book Plus', serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color:#E4F6F6;
}

.super {
  text-decoration: underline;
  color: #ffff00;
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
}

.stanlee {
  width: 30%;
  margin: auto;
}

.top-container{
  background-color: #CF1717;
  position: relative;
  padding-top: 100px;
}

.middle-container {
margin: 100px 0;
}

.bottom-container {
  background-color: #CF1717;
  padding: 50px 0 20px;
}
.cloud2
{
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.cloud1
{
  position: absolute;
  right: 300px;
  top: 40px;
}

.profile-img {
  width: 150px;
  border-radius: 200px;
}

.spider-img{
  width: 25%;
  border-radius: 200px;
  float: left;
  margin-right: 30px;
}

.ironman-img{
  width: 25%;
  border-radius: 200px;
  float: right;
  margin-left: 30px;
}

.thor-img {
  width: 25%;
  border-radius: 200px;
  float: left;
  margin-right: 30px;
}

.hulk-img {
  width: 25%;
  border-radius: 200px;
  float: right;
  margin-left: 30px;
}

.camerica-img {
  width: 25%;
  border-radius: 200px;
  float: left;
  margin-right: 30px;
}

.footer-link{
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.btn {
  background: #CF1717;
  background-image: -webkit-linear-gradient(top, #CF1717, #FFFF00);
  background-image: -moz-linear-gradient(top, #CF1717, #FFFF00);
  background-image: -ms-linear-gradient(top, #CF1717, #FFFF00);
  background-image: -o-linear-gradient(top, #CF1717, #FFFF00);
  background-image: linear-gradient(to bottom, #CF1717, #FFFF00);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Gentium Book Plus', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding-left: 20px 0;
}
